<div class="cart--item-list-container">
  <ul
    class="item-list cart--item-list"
    *ngIf="cartItems.length > 0; else cartEmpty"
  >
    <li *ngFor="let item of cartItems">
      <img
        class="cart--item-icon"
        src="assets/icons/{{ item.id }}.svg"
        alt="{{ item.name }}"
      />
      <p>{{ item.name }}</p>
      <button
        class="quantity-btn remove-btn center"
        (click)="itemQuantityDecrease(item)"
      >
        -
      </button>
      <span class="quantity-text center">{{ item.quantity }}</span>
      <button
        class="quantity-btn add-btn center"
        (click)="itemQuantityIncrease(item)"
      >
        +
      </button>
    </li>
  </ul>
</div>

<ng-template #cartEmpty>
  <p>Cart is empty</p>
</ng-template>
