body {
  font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
}

h1,
h2 {
  margin-bottom: 1rem;
}

/* Buttons */

button {
  padding: 0.25rem 0.5rem;

  text-transform: uppercase;
  font-size: 0.725rem;

  cursor: pointer;
}

/* Store */

#store {
  height: 40vh;
  padding: 1rem;

  overflow-y: scroll;

  background-color: #e7f4ea;
}

#store h1 {
  text-align: center;
}

/* Cart */

#cart {
  height: 45vh;
  padding: 1rem;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1rem;
  justify-content: center;

  border-top: 2px solid #e7f4ea;
}

app-cart {
  display: block;
  box-sizing: border-box;
  min-width: 320px;
  height: 100%;
  padding: 0 1rem;

  overflow-y: scroll;

  border-radius: 0.5rem;
  border: 2px solid #757575;
}

#cart h2 {
  margin-bottom: 0;
  text-align: center;
}

/* Total */

app-total {
  padding: 0.5rem 1rem;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
